<p>create-service works!</p>

<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <fieldset>
    <label for="title">Название</label>
    <input
      type="text"
      id="title"
      placeholder="Название сервиса"
      formControlName="title"
    />
  </fieldset>

  <fieldset>
    <label for="description">Описание</label>
    <textarea
      formControlName="description"
      id="description"
      cols="30"
      rows="10"
      placeholder="Название сервиса"
    ></textarea>
  </fieldset>

  <button type="submit">Сохранить изменения</button>
</form>
