<h2>
  Запрос на получение доступа для сотрудника {{ (employee$ | async)?.fullName }}
</h2>

<fieldset>
  <label for="position">Сервисы</label>
  <select [(ngModel)]="serviceId">
    <option disabled [ngValue]="null">сервис не выбран</option>
    <option *ngFor="let service of services$ | async" [ngValue]="service.id">
      {{ service.title }}
    </option>
  </select>
</fieldset>
<form [formGroup]="requestForm" novalidate (ngSubmit)="onSaveRequest()">
  <fieldset>
    <label for="header">Залоголовк запроса</label>
    <input type="text" id="header" formControlName="header" />
    <div
      class="alert alert-danger"
      *ngIf="
        requestForm.controls['header'].invalid &&
        requestForm.controls['header'].touched
      "
    >
      Поле обязательно для заполнения
    </div>
  </fieldset>

  <fieldset class="auth-form__field">
    <label for="body">Краткое описание</label>
    <textarea
      formControlName="body"
      id="body"
      cols="30"
      rows="10"
      placeholder="Суть запроса"
    ></textarea>
    <div
      class="alert alert-danger"
      *ngIf="
        requestForm.controls['body'].invalid &&
        requestForm.controls['body'].touched
      "
    >
      Поле обязательно для заполнения
    </div>
  </fieldset>

  <button
    class="btn btn-default"
    [disabled]="requestForm.invalid"
    type="submit"
  >
    Сохранить запрос
  </button>
</form>
