<p>create-service works!</p>

<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <fieldset>
    <label for="title">Название</label>
    <input
      type="text"
      id="title"
      placeholder="Название сервиса"
      formControlName="title"
    />
    <div
      class="alert alert-danger"
      *ngIf="form.controls['title'].invalid && form.controls['title'].touched"
    >
      Поле обязательно для заполнения и не может превышать 50 символов
    </div>
  </fieldset>

  <fieldset>
    <label for="description">Описание</label>
    <textarea
      formControlName="description"
      id="description"
      cols="30"
      rows="10"
      placeholder="Название сервиса"
    ></textarea>
  </fieldset>

  <button class="btn btn-default" [disabled]="form.invalid" type="submit">
    Сохранить изменения
  </button>
</form>
