<p>confirm-request works!</p>

<h2>{{ (request$ | async)?.header }}</h2>
<p>{{ (request$ | async)?.body }}</p>

<form [formGroup]="confirmForm" novalidate (ngSubmit)="onSubmit()">
  <fieldset>
    <button (click)="showServices()">Изменить сервис</button>
    <label [ngClass]="{ invisible: !servicesVisible }" for="services"
      >Выберите другой сервис</label
    >
    <select
      [ngClass]="{ invisible: !servicesVisible }"
      id="services"
      formControlName="services"
      (ngModelChange)="getService($event)"
    >
      <option *ngFor="let service of services$! | async" [ngValue]="service.id">
        {{ service.title }}
      </option>
    </select>

    <label for="roles">доступные задачи</label>

    <select multiple formControlName="roles">
      <option *ngFor="let role of roles$ | async" [ngValue]="role.id">
        {{ role.name }}
      </option>
    </select>
  </fieldset>
  <fieldset>
    <select formControlName="request">
      <option *ngFor="let status of statusList$" [ngValue]="status">
        {{ status.title }}
      </option>
    </select>
  </fieldset>

  <fieldset class="auth-form__field">
    <label for="comment">Описание</label>
    <textarea
      formControlName="comment"
      id="body"
      cols="30"
      rows="10"
      placeholder="коментарий"
    ></textarea>
  </fieldset>

  <button type="comment">Сохранить запрос</button>
</form>
