<div *ngIf="isAuthorized | async; then authorzed; else unauthorzed"></div>
<ng-template #authorzed>
  <div class="header">
    <ul>
      <li><a routerLink="/departments">deps</a></li>
    </ul>
    <ul>
      <li><a routerLink="/services">services</a></li>
    </ul>
  </div>
  <a routerLink="/confirmslist">Просмотр запросов</a>
</ng-template>
<ng-template #unauthorzed>
  <div>
    <a routerLink="/login">login</a>
  </div>
</ng-template>

<div class="container">
  <router-outlet></router-outlet>
</div>
