<h2>{{ (employee$ | async)?.fullName }}</h2>
<p>{{ (employee$ | async)?.address }}</p>
<p>{{ (employee$ | async)?.beginWorking | date: "" }}</p>

<p>Аккаунт доступа к сервису:</p>
<div
  *ngIf="(employee$ | async)?.username === null; then noUser; else existsUser"
></div>
<ng-template #noUser>
  <a routerLink="/newuser/{{ (employee$ | async)?.id }}">добавить позователя</a>
</ng-template>
<ng-template #existsUser>
  <p>Пользователь: {{ (employee$ | async)?.username }}</p>

  <button (click)="deleteUser()">удалить пользователя</button>
</ng-template>

<p>Доступные задачи</p>
<button (click)="editEmployee()">редактировать</button>
<button [ngClass]="{ invisible: !formVisible }" (click)="deleteEmplooyee()">
  удалять
</button>
<ul>
  <li *ngFor="let role of (employee$ | async)?.roles">
    {{ role.name }}
  </li>
</ul>
<a routerLink="/requests/{{ (employee$ | async)?.id }}">запросы</a>
<br />

<div [ngClass]="{ invisible: !formVisible }">
  <fieldset>
    <label for="department">управление</label>
    <select [(ngModel)]="idDep" (ngModelChange)="getPositions($event)">
      <option *ngFor="let dep of departments$ | async" [ngValue]="dep.id">
        {{ dep.title }}
      </option>
    </select>

    <label for="position">должность</label>
    <select [(ngModel)]="position">
      <option
        *ngFor="let position of positions$ | async"
        [ngValue]="position.id"
      >
        {{ position.title }}
      </option>
    </select>
  </fieldset>
  <form [formGroup]="Employeeform" novalidate (ngSubmit)="onSubmit()">
    <fieldset>
      <label for="name">Имя работника</label>
      <input type="text" id="name" formControlName="fullName" />
      <div
        class="alert alert-danger"
        *ngIf="
          Employeeform.controls['fullName'].invalid &&
          Employeeform.controls['fullName'].touched
        "
      >
        Поле обязательно для заполнения
      </div>
    </fieldset>

    <fieldset>
      <label for="address">адреса:</label>
      <input type="text" id="address" formControlName="address" />
    </fieldset>

    <fieldset>
      <label for="beginWorking">Принят на работу</label>
      <input type="date" id="beginWorking" formControlName="beginWorking" />
    </fieldset>

    <fieldset>
      <label for="endWorking">Уволен с работы</label>
      <input type="date" id="endWorking" formControlName="endWorking" />
    </fieldset>

    <button
      class="btn btn-default"
      [disabled]="Employeeform.invalid"
      type="submit"
    >
      Сохранить изменения
    </button>
  </form>
</div>
